---
import Icon from './Icon.astro';
import Image from './Image.astro';
import ToggleButton from './ToggleButton.astro';
import Toggle from './Toggle.astro';

const { projects } = Astro.props;
---

<div
  class="px-3"
  x-data="{
    showMore: $persist(false),
    filters: $persist({
      tools: true,
      experiments: true,
      stunts: true
    }),
    projects: JSON.parse(JSON.stringify(projects)),
    isVisible(index, type) {
      return (index < 12 || this.showMore) && this.filters[type];
    },
    updateFilters(filterType) {
      this.filters[filterType] = !this.filters[filterType];
      if (!this.filters[filterType]) {
        this.showMore = true;
      }
      if (!this.filters.tools && !this.filters.experiments && !this.filters.stunts) {
        this.filters = {
          tools: true,
          experiments: true,
          stunts: true
        };
      }
    }
  }"
  x-init="$watch('filters', value => {
    if (!value.tools || !value.experiments || !value.stunts) {
      this.showMore = true;
    }
    if (!value.tools && !value.experiments && !value.stunts) {
      filters = {
        tools: true,
        experiments: true,
        stunts: true
      };
    }
  })"
>
  <div class="hidden sm:flex flex-col lg:flex-row justify-center items-center text-sm uppercase font-functionpro mt-10">
    <div class="flex gap-2 items-center lg:mr-7">
      <span class="text-brick-light">Filter:</span>
      <Toggle label="Tools" type="tools" />
      <Toggle label="Experiments" type="experiments" />
      <Toggle label="Stunts" type="stunts" />
    </div>

    <div class="flex gap-5 items-center mt-5 lg:mt-0 lg:pl-7 lg:border-l lg:border-[#f3e6cf]">
      <span class="text-brick-light">Show:</span>

      <ToggleButton
        label="Top 12"
        isActive="!showMore"
        onClick="showMore = false"
      />
      <ToggleButton
        label="All"
        isActive="showMore"
        onClick="showMore = true"
      />
    </div>
  </div>

  <div class="max-w-7xl mx-auto p-8 bg-brick rounded-xl mt-5">
    <ul class="grid grid-cols-1 xs:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-5">
      {projects.map((project, index) => {
        const { content } = project;
        const backgroundColor = content.backgroundColor?.color || '#000';
        const textColor = content.textColor?.color || '#fff';

        return (
          <li
            class="project-item rounded"
            data-type={content.type}
            style={`
              --projectBackgroundColor: ${backgroundColor};
              --projectTextColor: ${textColor};
            `}
            x-show={`isVisible(${index}, '${content.type}')`}
          >
            <a href={`/${project.slug}`}>
              {content.icon && <Image image={content.icon} />}

              <h3>{project.name}</h3>

              {content.tagline && <p>{content.tagline}</p>}

              <span class="block w-[120px] h-[120px]">
                <Icon icon={`stamp-${content.type}`} />
              </span>
            </a>
          </li>
        );
      })}
    </ul>
  </div>

  <button class="flex items-center mx-auto mt-11 text-xs uppercase font-functionpro text-red-dark border-red-dark border-[5px] rounded-full w-[130px] h-[130px] px-7 hover:bg-red-dark hover:text-white transition-colors duration-300" @click="showMore = true" x-show="!showMore"><span class="inline-block">View More Projects</span></button>
  </div>

<style>
  .project-item {
    background-color: var(--projectBackgroundColor);
    color: var(--projectTextColor);
  }

  .project-item a {
    color: inherit;
    text-decoration: none;
  }

  .project-item h3,
  .project-item p {
    color: inherit;
  }
</style>
