---
import Image from './Image.astro';
const { projects } = Astro.props;
---

<section id="projects">
  <h2>Projects</h2>

  <ul class="grid grid-cols-3 gap-5">
    {projects.map((project) => {
      const { content } = project;
      const backgroundColor = content.backgroundColor?.color || '#000';
      const textColor = content.textColor?.color || '#fff';

      return (
        <li
          class="project-item"
          data-type={content.type}
          style={`
            --projectBackgroundColor: ${backgroundColor};
            --projectTextColor: ${textColor};
          `}
        >
          <a href={`/${project.slug}`}>
            {content.icon && <Image image={content.icon} />}

            <h3>{project.name}</h3>

            {content.tagline && <p>{content.tagline}</p>}
          </a>
        </li>
      );
    })}
  </ul>
</section>

<style>
  .project-item {
    background-color: var(--projectBackgroundColor);
    color: var(--projectTextColor);
  }

  .project-item a {
    color: inherit;
    text-decoration: none;
  }

  .project-item h3,
  .project-item p {
    color: inherit;
  }
</style>
