---
import Icon from './components/Icon.astro';
import { Image as AstroImage } from 'astro:assets';
import { renderRichText } from '@storyblok/astro';
import Image from './components/Image.astro';
import ProjectList from './components/ProjectList.astro';
const { blok, projects } = Astro.props;

function renderContent(content) {
  return content ? renderRichText(content) : '';
}
---

<div class="h-screen pt-[160px] relative h-screen min-h-[480px]">
  {blok.heroText && <p class="relative z-10 text-white text-4xl font-functionpro uppercase">{blok.heroText}</p>}

  {blok.featureImages && blok.featureImages.length > 0 && (
    <AstroImage
      src={blok.featureImages[0].filename}
      alt={blok.featureImages[0].title || ''}
      inferSize={true}
      class="absolute top-0 left-0 h-full w-full object-cover z-0"
    />
  )}
</div>

<div>
  {blok.aboutText && <section id="about" class="bg-tiled-gradient" set:html={renderContent(blok.aboutText)} />}

  <section id="projects">
    <h2>Projects</h2>

    {projects && (
      <ProjectList projects={projects} />
    )}
  </section>

  {blok.featureImages && blok.featureImages.length > 1 && (
    <Image image={blok.featureImages[blok.featureImages.length - 1]} wrapperClass="w-1/2" />
  )}

  {blok.processText && <section id="process" class="bg-tiled-gradient" set:html={renderContent(blok.processText)} />}

  {blok.culturePhotos && blok.culturePhotos.map((image) => (
    <Image image={image} wrapperClass="w-1/2" />
  ))}

  {blok.processPhotos && blok.processPhotos.map((image) => (
    <Image image={image} wrapperClass="w-1/2" />
  ))}

  <section class="grid grid-cols-6">
    {blok.generalPhotos && blok.generalPhotos.slice(0, 6).map((image) => (
      <Image image={image} wrapperClass="col-span-3 lg:col-span-1" />
    ))}
  </section>

  <section>
    <h2>Frequently Asked Questions</h2>

    <ul>
      {blok.faq && blok.faq.map((item, index) => (
        <li x-data="{ expanded: false }" x-id="['faq-question', 'faq-answer']">
          {item.question && (
            <h3>
              <span class="block w-6 h-6 rounded-full transition-colors duration-300 relative" :class="expanded ? 'bg-red' : 'bg-green'"><i class="block w-3 h-[2px] bg-white absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></i><i class="block w-3 h-[2px] bg-white absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transition-transform duration-300" :class="expanded ? 'rotate-0' : '-rotate-90'"></i></span>

              <button
                @click="expanded = !expanded"
                :aria-expanded="expanded"
                :aria-controls="$id('faq-answer')"
                :id="$id('faq-question')"
                class="font-functionpro uppercase text-base text-green"
              >
                {item.question}
              </button>
            </h3>
          )}
          {item.answer && (
            <div
              :id="$id('faq-answer')"
              :aria-labelledby="$id('faq-question')"
              set:html={renderContent(item.answer)}
              x-show="expanded"
              x-collapse
            />
          )}
        </li>
      ))}
    </ul>
  </section>

  <section id="contact" class="bg-tiled flex">
    {blok.contactUs && (
      <div class="pt-[174px] relative">
        <div class="absolute top-[-36px] left-0 right-[7px] flex justify-center">
          <Icon icon="contact" />
        </div>

        <h3>Contact Us</h3>
        <div set:html={renderContent(blok.contactUs)} />
      </div>
    )}

    {blok.hireViget && (
      <div class="pt-[174px] relative">
        <div class="absolute top-[-11px] left-0 right-0 flex justify-center">
          <Icon icon="hire" />
        </div>

        <h3>Hire Viget</h3>
        <div set:html={renderContent(blok.hireViget)} />
      </div>
    )}

    {blok.joinViget && (
      <div class="pt-[174px] relative">
        <div class="absolute top-0 left-0 right-0 flex justify-center">
          <Icon icon="join" />
        </div>

        <h3>Join Viget</h3>
        <div set:html={renderContent(blok.joinViget)} />
      </div>
    )}
  </section>
</div>
