---
import { renderRichText } from '@storyblok/astro';
import Image from './components/Image.astro';

const { blok } = Astro.props;

function renderContent(content) {
  return content ? renderRichText(content) : '';
}
---

<div>
  {blok.heroText && <p>{blok.heroText}</p>}

  {blok.featureImages && blok.featureImages.map((image) => (
    <Image image={image} wrapperClass="w-1/2" />
  ))}

  {blok.aboutText && <section set:html={renderContent(blok.aboutText)} />}
  {blok.processText && <section set:html={renderContent(blok.processText)} />}



  {blok.culturePhotos && blok.culturePhotos.map((image) => (
    <Image image={image} wrapperClass="w-1/2" />
  ))}

  {blok.processPhotos && blok.processPhotos.map((image) => (
    <Image image={image} wrapperClass="w-1/2" />
  ))}

  {blok.generalPhotos && blok.generalPhotos.map((image) => (
    <Image image={image} wrapperClass="w-1/2" />
  ))}

  {blok.faq && blok.faq.map((item) => (
    <>
      {item.question && <p>{item.question}</p>}
      {item.answer && <div set:html={renderContent(item.answer)} />}
    </>
  ))}

  <section>
    {blok.contactUs && <div set:html={renderContent(blok.contactUs)} />}
    {blok.hireViget && <div set:html={renderContent(blok.hireViget)} />}
    {blok.joinViget && <div set:html={renderContent(blok.joinViget)} />}
  </section>
</div>
