---
import iconTools from '../images/svgs/tools.svg?raw';
import iconExperiments from '../images/svgs/experiments.svg?raw';
import iconStunts from '../images/svgs/stunts.svg?raw';
import iconProcess from '../images/svgs/process.svg?raw';
import iconFaq from '../images/svgs/faq.svg?raw';
import iconContact from '../images/svgs/contact.svg?raw';
import iconHire from '../images/svgs/hire.svg?raw';
import iconJoin from '../images/svgs/join.svg?raw';
import { Image as AstroImage } from 'astro:assets';
import { renderRichText } from '@storyblok/astro';
import Image from './components/Image.astro';
import ProjectList from './components/ProjectList.astro';
import ContactLink from './components/ContactLink.astro';
const { blok, projects } = Astro.props;

function renderContent(content) {
  return content ? renderRichText(content) : '';
}
---

<div class="relative h-screen px-3 pt-[160px] min-h-[480px]">
  {blok.heroText && <p class="relative z-10 mx-auto max-w-7xl text-center uppercase text-white text-[36px] leading-[0.89em] font-functionpro sm:text-left md:text-[82px] lg:text-[96px]">{blok.heroText}</p>}

  {blok.featureImages && blok.featureImages.length > 0 && (
    <AstroImage
      src={blok.featureImages[0].filename}
      alt={blok.featureImages[0].title || ''}
      inferSize={true}
      class="absolute top-0 left-0 z-0 h-full w-full object-cover"
    />
  )}
</div>

{blok.aboutText && (
  <section id="about" class="bg-tiled-gradient py-[120px]">
    <ul class="flex flex-wrap justify-center gap-20">
      <li class="text-center uppercase font-functionpro text-mud">
        <Fragment set:html={iconTools} />
        <span class="mt-4 inline-block">Tools</span>
      </li>
      <li class="text-center uppercase font-functionpro text-mud">
        <Fragment set:html={iconExperiments} />
        <span class="mt-4 inline-block">Experiments</span>
      </li>
      <li class="text-center uppercase font-functionpro text-mud">
        <Fragment set:html={iconStunts} />
        <span class="mt-4 inline-block">Stunts</span>
      </li>
    </ul>

    <div class="mt-12 px-3 text-center uppercase font-functionpro text-brick text-[20px] leading-[1em] md:text-[36px]">
      <div class="mx-auto max-w-4xl about-text" set:html={renderContent(blok.aboutText)} />
    </div>
  </section>
)}

<section id="projects" class="py-[60px]">
  <h2 class="text-center text-4xl uppercase font-functionpro text-brick-light">Projects</h2>

  {projects && (
    <ProjectList projects={projects} />
  )}
</section>

{blok.featureImages && blok.featureImages.length > 1 && (
  <Image
    image={blok.featureImages[blok.featureImages.length - 1]}
    className="w-full"
    wrapperClass="w-full relative"
    captionClass="absolute bottom-10 left-[8%] right-[8%] text-white text-xs uppercase font-functionpro"
  />
)}

{blok.processText && (
  <section id="process" class="bg-tiled-gradient py-[120px]">
    <h2 class="flex flex-col items-center gap-4 uppercase font-functionpro text-mud">
      <Fragment set:html={iconProcess} />
      Process
    </h2>

    <div class="mt-12 px-3 text-center uppercase font-functionpro text-brick text-[32px] leading-[1em] sm:text-[48px]">
      <div class="mx-auto max-w-3xl process-text" set:html={renderContent(blok.processText)} />
    </div>
  </section>
)}

<div class="grid grid-cols-1 lg:grid-cols-2">
  {blok.culturePhotos && (
    <div class="relative col-span-1 grid grid-cols-2 lg:grid-cols-1">
      {blok.culturePhotos.slice(0, 4).map((image) => (
        <Image image={image} wrapperClass="caption-peek overflow-hidden relative lg:absolute lg:inset-0" className="w-full" captionClass="absolute p-5 bg-gray-darker bottom-0 left-0 right-0 text-white text-xs uppercase font-functionpro transition-transform duration-200 ease-in-out" />
      ))}
    </div>
  )}

  {blok.processPhotos && (
    <div class="col-span-1 grid grid-cols-2">
      {blok.processPhotos.slice(0, 4).map((image) => (
        <Image image={image} wrapperClass="caption-peek overflow-hidden relative col-span-1 row-span-1" className="w-full" captionClass="absolute p-5 bg-gray-darker bottom-0 left-0 right-0 text-white text-xs uppercase font-functionpro transition-transform duration-200 ease-in-out" />
      ))}
    </div>
  )}
</div>

<section class="grid grid-cols-6">
  {blok.generalPhotos && blok.generalPhotos.slice(0, 6).map((image) => (
    <Image image={image} wrapperClass="col-span-3 lg:col-span-1" captionClass="hidden" />
  ))}
</section>

<section id="faq" class="py-[60px]">
  <h2 class="flex flex-col items-center gap-4 font-functionpro text-mud">
    <Fragment set:html={iconFaq} />
    <abbr class="no-underline" title="Frequently Asked Questions">FAQ</abbr>
  </h2>

  <ul class="mx-auto max-w-7xl mt-[50px]">
    {blok.faq && blok.faq.map((item, index) => (
      <li
        x-data={`{ expanded: ${index === 0} }`}
        x-id="['faq-question', 'faq-answer']"
        class="mb-11 px-3"
      >
        {item.question && (
          <h3 class="relative pl-10">
            <span class="absolute top-0 left-0 block h-6 w-6 rounded-full transition-colors duration-300" :class="expanded ? 'bg-red' : 'bg-green'"><i class="absolute top-1/2 left-1/2 block w-3 -translate-x-1/2 -translate-y-1/2 bg-white h-[2px]"></i><i class="absolute top-1/2 left-1/2 block w-3 -translate-x-1/2 -translate-y-1/2 bg-white transition-transform duration-300 h-[2px]" :class="expanded ? 'rotate-0' : '-rotate-90'"></i></span>

            <button
              @click="expanded = !expanded"
              :aria-expanded="expanded"
              :aria-controls="$id('faq-answer')"
              :id="$id('faq-question')"
              class="text-base uppercase leading-6 font-functionpro text-green"
            >
              {item.question}
            </button>
          </h3>
        )}
        {item.answer && (
          <div
            :id="$id('faq-answer')"
            :aria-labelledby="$id('faq-question')"
            set:html={renderContent(item.answer)}
            x-show="expanded"
            x-collapse
            class="px-10 leading-7"
          />
        )}
      </li>
    ))}
  </ul>
</section>

<section id="contact" class="bg-tiled md:flex">
  {blok.contactUs && (
    <ContactLink
      href="https://www.viget.com/contact/"
      icon={iconContact}
      title="Contact Us"
      content={blok.contactUs}
      topPosition="64px"
    />
  )}

  {blok.hireViget && (
    <ContactLink
      href="https://www.viget.com/contact/"
      icon={iconHire}
      title="Hire Viget"
      content={blok.hireViget}
      topPosition="89px"
    />
  )}

  {blok.joinViget && (
    <ContactLink
      href="https://www.viget.com/careers"
      icon={iconJoin}
      title="Join Viget"
      content={blok.joinViget}
      topPosition="100px"
    />
  )}
</section>

