---
import { renderRichText } from '@storyblok/astro';
import Image from './components/Image.astro';
import ProjectList from './components/ProjectList.astro';
const { blok, projects } = Astro.props;

function renderContent(content) {
  return content ? renderRichText(content) : '';
}
---

<div>
  {blok.heroText && <p>{blok.heroText}</p>}

  {blok.featureImages && blok.featureImages.map((image) => (
    <Image image={image} wrapperClass="w-1/2" />
  ))}

  {blok.aboutText && <section id="about" set:html={renderContent(blok.aboutText)} />}

  <section id="projects">
    <h2>Projects</h2>

    {projects && (
      <ProjectList projects={projects} />
    )}
  </section>

  {blok.processText && <section id="process" set:html={renderContent(blok.processText)} />}

  {blok.culturePhotos && blok.culturePhotos.map((image) => (
    <Image image={image} wrapperClass="w-1/2" />
  ))}

  {blok.processPhotos && blok.processPhotos.map((image) => (
    <Image image={image} wrapperClass="w-1/2" />
  ))}

  {blok.generalPhotos && blok.generalPhotos.map((image) => (
    <Image image={image} wrapperClass="w-1/2" />
  ))}

  <section id="faq">
    {blok.faq && blok.faq.map((item) => (
      <>
        {item.question && <p>{item.question}</p>}
        {item.answer && <div set:html={renderContent(item.answer)} />}
      </>
    ))}
  </section>

  <section id="contact">
    {blok.contactUs && <div set:html={renderContent(blok.contactUs)} />}
    {blok.hireViget && <div set:html={renderContent(blok.hireViget)} />}
    {blok.joinViget && <div set:html={renderContent(blok.joinViget)} />}
  </section>
</div>
