---
import { renderRichText } from '@storyblok/astro';
import { Image } from 'astro:assets';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

const { blok, name, projects } = Astro.props;

function renderContent(content) {
  return content ? renderRichText(content) : '';
}
---

<article class="project pt-20 px-5">
  <h1 class="sr-only">{name}</h1>

  <!-- Project Logo -->
  {blok.logo?.filename && (
    <Image
      src={blok.logo.filename}
      inferSize={true}
      alt=""
      class="mb-5 mx-auto max-w-full block"
    />
  )}

  <!-- Project Details -->
  <ul class="metatable table border-collapse mx-auto text-center uppercase font-functionpro">
    {blok.url && (
      <li class="table-cell border">
        <span class="metatable-label block border-b px-3 text-[10px] py-[2px]">Visit</span>
        <span class="metatable-value block px-5 py-[2px]">
          <a href={blok.url}>
            {(() => {
              const parts = blok.url.replace(/^(https?:\/\/)?(www\.)?/i, '').split('/');
              return parts[0] + (parts[1] ? '/' + parts[1] : '');
            })()}
          </a>
        </span>
      </li>
    )}
    {blok.xHandle && (
      <li class="table-cell border">
        <span class="metatable-label block border-b px-3 text-[10px] py-[2px]">Follow</span>
        <span class="metatable-value block px-5 py-[2px]">
          <a href={`https://x.com/${blok.xHandle}`} rel="noreferrer">@{blok.xHandle}</a>
        </span>
      </li>
    )}
    {blok.type && (
      <li class="table-cell border">
        <span class="metatable-label block border-b px-3 text-[10px] py-[2px]">Type</span>
        <span class="metatable-value block px-5 py-[2px]">
          {blok.type}
        </span>
      </li>
    )}
    {blok.launchDate && (
      <li class="table-cell border">
        <span class="metatable-label block border-b px-3 text-[10px] py-[2px]">Launched</span>
        <span class="metatable-value block px-5 py-[2px]">
          {new Date(blok.launchDate).toLocaleDateString('en-US', { month: '2-digit', year: 'numeric' }).replace('/', '/')}
        </span>
      </li>
    )}
    <li class="table-cell border">
      <span class="metatable-label block border-b px-3 text-[10px] py-[2px]">Status</span>
      <span class="metatable-value block px-5 py-[2px]">
        {blok.retiredDate ? 'archived' : 'active'}
      </span>
    </li>
  </ul>

  <!-- Project Description -->
  {blok.description && <section class="project-description max-w-3xl my-[60px] mx-auto text-center text-[24px] leading-[1.6em]" set:html={renderContent(blok.description)} />}

  <!-- Example Blocks -->
  {blok.examples && blok.examples.length > 0 && (
    <>
      <h2 class="sr-only">Examples</h2>

      {blok.examples.map((nestedBlok) => (
        <StoryblokComponent blok={nestedBlok} />
      ))}
    </>
  )}

  <!-- Project Process Images -->
  {blok.process && blok.process.length > 0 && (
    <>
      <h2 class="sr-only">Process</h2>

      <ul>
        {blok.process.map((image) => (
          <li>
            <Image src={image.filename} alt={image.alt || ''} inferSize={true} />
          </li>
        ))}
      </ul>
    </>
  )}

  <!-- Related Content -->
  {blok.relatedContent && (
    <section class="mt-10 mb-[50px] max-w-7xl mx-auto">
      <h2 class="text-center font-functionpro uppercase text-4xl mb-3">More about {name}</h2>

      <ul class="text-center uppercase font-functionpro">
        {blok.relatedContent.map((related) => (
          <li class="text-lg leading-4 py-4">
            {(() => {
              const content = (
                <>
                  {related.title && <span class="group-hover:underline">{related.title}</span>}
                  {related.sourceName && <><br><span class="text-white text-xs">via {related.sourceName}</span></>}
                </>
              );
              return related.url ? <a href={related.url} class="group !no-underline">{content}</a> : content;
            })()}
          </li>
        ))}
      </ul>
    </section>
  )}

  <!-- More Projects -->
  <section class="my-10 max-w-7xl mx-auto">
    <h2 class="text-center font-functionpro uppercase text-4xl mb-3">More Pointless Projects</h2>

    <ul class="xs:columns-2 md:columns-3 text-center uppercase font-functionpro text-lg">
      {projects.map((project) => (
        <li class="py-2">
          <a href={`/${project.slug}`} class="!no-underline hover:!underline">{project.name}</a>
        </li>
      ))}
    </ul>
  </section>
</article>

<style>
  /* Project Styles */
  .project {
    background-color: var(--backgroundColor);
    color: var(--textColor);
  }

  .project a {
    color: var(--linkColor);
    text-decoration: underline;
  }

  .metatable li,
  .metatable-label {
    border-color: var(--accentColor);
  }

  .metatable-value {
    color: var(--linkColor);
  }
</style>
