---
const { title, themeColors, description, metaImage } = Astro.props;

// Get the current path
const currentPath = Astro.url.pathname;
const isHomePage = currentPath === "/";
const rootUrl = new URL(Astro.url.origin).toString();

const metaImageUrl = metaImage ? `${metaImage}` : `${rootUrl}og.png`;


// Default colors
const defaultColors = {
  backgroundColor: '#fff',
  accentColor: '#000',
  textColor: '#333',
  linkColor: '',
};

// Merge provided colors with defaults, using nullish coalescing to handle undefined themeColors
const finalColors = {
  backgroundColor: themeColors?.backgroundColor ?? defaultColors.backgroundColor,
  accentColor: themeColors?.accentColor ?? defaultColors.accentColor,
  textColor: themeColors?.textColor ?? defaultColors.textColor,
  linkColor: themeColors?.linkColor ?? defaultColors.linkColor,
  footerTextColor: isHomePage ? '#47170d' : '#fff',
  footerLinkColor: isHomePage ? '#47170d' : '#fff',
  footerCopyrightColor: isHomePage ? '#d2cfc8' : '#fff',
  footerSocialBorderColor: isHomePage ? '#d2cfc8' : '#fff',
  footerSocialBorderHoverColor: isHomePage ? '#373939' : (themeColors?.linkColor ?? defaultColors.linkColor),
};

// Navigation items
const navItems = [
  { href: 'about', text: 'About' },
  { href: 'projects', text: 'Projects' },
  { href: 'process', text: 'Process' },
  { href: 'faq', text: 'FAQ' },
  { href: 'contact', text: 'Contact' },
];

import logo from '../images/svgs/logo.svg';
import logoLarge from '../images/svgs/pointless-logo-large.svg';
import logoLargeWhite from '../images/svgs/pointless-logo-large--white.svg';
import iconX from '../images/svgs/x.svg?raw';
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/favicon.png">

  <link rel="preconnect" href="//a-us.storyblok.com/">
  <link rel="dns-prefetch" href="//a-us.storyblok.com/">
  <link rel="preload" as="font" href={`${rootUrl}fonts/FunctionPro-Bold-webfont.woff`} type="font/woff" crossorigin="anonymous">

  <title>{title}</title>

  <meta itemprop="description" content={description}>
  <meta itemprop="image" content={metaImageUrl}>

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@pointlesscorp">
  <meta name="twitter:title" content={title}>
  <meta name="twitter:description" content={description}>
  <meta name="twitter:creator" content="@pointlesscorp">
  <meta name="twitter:image" content={metaImageUrl}>

  <meta property="og:title" content={title}>
  <meta property="og:type" content="website">
  <meta property="og:url" content={Astro.url}>
  <meta property="og:image" content={metaImageUrl}>
  <meta property="og:description" content={description}>
  <meta property="og:site_name" content={Astro.url}>

  <style define:vars={finalColors}>
    :root {
      --backgroundColor: {finalColors.backgroundColor};
      --accentColor: {finalColors.accentColor};
      --textColor: {finalColors.textColor};
      --linkColor: {finalColors.linkColor};
      --footerTextColor: {finalColors.footerTextColor};
      --footerLinkColor: {finalColors.footerLinkColor};
      --footerCopyrightColor: {finalColors.footerCopyrightColor};
      --footerSocialBorderColor: {finalColors.footerSocialBorderColor};
      --footerSocialBorderHoverColor: {finalColors.footerSocialBorderHoverColor};
    }
  </style>
</head>
<body class="antialiased font-base">
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-N3P6MM"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-N3P6MM');</script>

  <header class="absolute top-9 left-0 z-20 w-full px-3">
    <div class="mx-auto flex max-w-7xl items-center justify-center sm:justify-between">
      {currentPath === "/" ? (
        <h1>
          <img src={logo.src} class="h-auto w-[160px]" alt="Pointless Corp." />
        </h1>
      ) : (
        <a href="/">
          <img src={logo.src} class="h-auto w-[160px]" alt="Pointless Corp." />
        </a>
      )}

      <nav class="hidden sm:block">
        <ul class="flex gap-4 font-functionpro">
          {navItems.map(item => (
            <li><a class="!text-white text-lg hover:underline focus:underline uppercase" href={`/#${item.href}`}>{item.text}</a></li>
          ))}
        </ul>
      </nav>
    </div>
  </header>
  <main id="content">
    <slot />
  </main>
  <footer class="flex flex-col items-center px-5 uppercase py-[50px] font-functionpro">
    {currentPath === "/" ? (
      <img src={logoLarge.src} class="h-auto w-[212px] sm:w-[282px]" alt="Pointless Corp." />
    ) : (
      <img src={logoLargeWhite.src} class="h-auto w-[212px] sm:w-[282px]" alt="Pointless Corp." />
    )}

    <p class="mt-8 text-xs">The innovation lab at <a class="underline hover:no-underline focus:no-underline" href="http://viget.com">Viget</a></p>

    <p class="mt-6">
      <a class="footer-social inline-block rounded-full border transition duration-300 border-gray-light p-[13px] hover:border-gray-dark focus:border-gray-dark" aria-label="Pointless Corp. on X" href="http://x.com/pointlesscorp">
        <Fragment set:html={iconX} />
      </a>
    </p>

    <p class="footer-copyright mt-5 text-xs">&copy; {new Date().getFullYear()} Pointless Corp.</p>
  </footer>
</body>
</html>
