---
import logo from '../images/svgs/logo.svg';
import logoLarge from '../images/svgs/pointless-logo-large.svg';
import logoLargeWhite from '../images/svgs/pointless-logo-large--white.svg';
import iconX from '../images/svgs/x.svg?raw';
import '../styles/global.css';

const { title, themeColors, description, metaImage, slug } = Astro.props;

// Get the current path
const currentPath = Astro.url.pathname;
const isHomePage = currentPath === "/";

// Default colors
const defaultColors = {
  backgroundColor: '#fff',
  accentColor: '#000',
  textColor: '#333',
  linkColor: '',
};

// Merge provided colors with defaults, using nullish coalescing to handle undefined themeColors
const finalColors = {
  backgroundColor: themeColors?.backgroundColor ?? defaultColors.backgroundColor,
  accentColor: themeColors?.accentColor ?? defaultColors.accentColor,
  textColor: themeColors?.textColor ?? defaultColors.textColor,
  linkColor: themeColors?.linkColor ?? defaultColors.linkColor,
  footerTextColor: isHomePage ? '#47170d' : '#fff',
  footerLinkColor: isHomePage ? '#47170d' : '#fff',
  footerCopyrightColor: isHomePage ? '#7C746A' : '#fff',
  footerSocialBorderColor: isHomePage ? '#d2cfc8' : '#fff',
  footerSocialBorderHoverColor: isHomePage ? '#373939' : (themeColors?.linkColor ?? defaultColors.linkColor),
};

// Navigation items
const navItems = [
  { href: 'about', text: 'About' },
  { href: 'projects', text: 'Projects' },
  { href: 'process', text: 'Process' },
  { href: 'faq', text: 'FAQ' },
  { href: 'contact', text: 'Contact' },
];

const frontNetlify = import.meta.env.NETLIFY;
const frontContext = import.meta.env.CONTEXT;
const deployPrimeUrl = import.meta.env.DEPLOY_PRIME_URL;

const rootUrl = frontNetlify === true
  ? frontContext === 'production'
    ? 'https://pointlesscorp.com/'
    : `${deployPrimeUrl}/`
  : new URL(Astro.url.origin).toString();

// Set the meta image URL based on the environment
const metaImageUrl = metaImage ? `${metaImage}` : `${rootUrl}og.png`;
const contentUrl = slug === '/' ? `${rootUrl}` : `${rootUrl}${slug}`;
---
{import.meta.env.PUBLIC_NETLIFY ? 'NETLIFY' : 'NOT NETLIFY'}<br>
{import.meta.env.PUBLIC_CONTEXT}<br>
{import.meta.env.DEPLOY_PRIME_URL}<br>

{frontNetlify ? 'NETLIFY' : 'NOT NETLIFY'}<br>
{frontContext}<br>
{deployPrimeUrl}<br>

{rootUrl}<br>
{metaImageUrl}<br>
{contentUrl}
<!DOCTYPE html>
<html lang="en-us" class="scroll-smooth">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="/favicon.png" />

  <link rel="preconnect" href="//a-us.storyblok.com/">
  <link rel="dns-prefetch" href="//a-us.storyblok.com/" />
  <link rel="preload" as="font" href={`${rootUrl}fonts/FunctionPro-Bold-webfont.woff`} type="font/woff" crossorigin="anonymous" />

  <!-- HTML Meta Tags -->
  <title>{title}</title>
  <meta name="description" content={description} />
  <link rel="canonical" href={contentUrl} />

  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content={title} />
  <meta itemprop="description" content={description} />
  <meta itemprop="image" content={metaImageUrl} />

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content={contentUrl} />
  <meta property="og:type" content="website" />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={metaImageUrl} />

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:image" content={metaImageUrl} />
  <meta name="twitter:url" content={contentUrl} />
  <meta name="twitter:site" content="@pointlesscorp" />
  <meta name="twitter:creator" content="@pointlesscorp" />

  <style define:vars={finalColors}>
    :root {
      --backgroundColor: {finalColors.backgroundColor};
      --accentColor: {finalColors.accentColor};
      --textColor: {finalColors.textColor};
      --linkColor: {finalColors.linkColor};
      --footerTextColor: {finalColors.footerTextColor};
      --footerLinkColor: {finalColors.footerLinkColor};
      --footerCopyrightColor: {finalColors.footerCopyrightColor};
      --footerSocialBorderColor: {finalColors.footerSocialBorderColor};
      --footerSocialBorderHoverColor: {finalColors.footerSocialBorderHoverColor};
    }

    body,
    footer {
      background-color: var(--backgroundColor);
      color: var(--textColor);
    }

    body a {
      color: var(--linkColor);
    }

    footer {
      color: var(--footerTextColor);
    }

    footer a {
      color: var(--footerLinkColor);
    }

    .footer-copyright {
      color: var(--footerCopyrightColor);
    }

    .footer-social {
      border-color: var(--footerSocialBorderColor);
    }

    .footer-social:hover,
    .footer-social:focus {
      border-color: var(--footerSocialBorderHoverColor);
      color: var(--footerSocialBorderHoverColor);
    }
  </style>
</head>
<body class="antialiased font-base scroll-smooth">
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-N3P6MM"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s) as HTMLScriptElement,dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-N3P6MM');</script>

  <header class="absolute left-0 z-20 w-full px-3 top-9">
    <div class="flex items-center justify-center mx-auto max-w-7xl sm:justify-between">
      {(() => {
        const logoImg = <img src={logo.src} class="h-auto w-[160px]" alt="Pointless Corp." />;
        return currentPath === "/" ? (
          <h1>{logoImg}</h1>
        ) : (
          <a href="/">{logoImg}</a>
        );
      })()}

      <nav class="hidden sm:block">
        <ul class="flex gap-4 font-functionpro">
          {navItems.map(item => (
            <li><a class="!text-white text-lg hover:underline focus:underline uppercase" href={`/#${item.href}`}>{item.text}</a></li>
          ))}
        </ul>
      </nav>
    </div>
  </header>
  <main id="content">
    <slot />
  </main>
  <footer class="flex flex-col items-center px-5 uppercase py-[50px] font-functionpro">
    <img
      src={currentPath === "/" ? logoLarge.src : logoLargeWhite.src}
      class="h-auto w-[212px] sm:w-[282px]"
      alt="Pointless Corp."
    />

    <p class="mt-8 text-xs">The innovation lab at <a class="underline hover:no-underline focus:no-underline" href="https://www.viget.com/">Viget</a></p>

    <p class="mt-6">
      <a class="footer-social inline-block rounded-full border transition duration-300 border-gray-light p-[13px] hover:border-gray-dark focus:border-gray-dark" aria-label="Pointless Corp. on X" href="http://x.com/pointlesscorp">
        <Fragment set:html={iconX} />
      </a>
    </p>

    <p class="mt-5 text-xs footer-copyright">&copy; {new Date().getFullYear()} Pointless Corp.</p>
  </footer>
</body>
</html>
